@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");

@font-face {
  font-family: "Signatra";
  src: url("./assets/fonts/Signatra.otf");
  font-style: normal;
  font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
